.store-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 20px;
    padding: 20px;
}

.filters {
    width: 500px; 
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.filters h3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.filter-group {
    margin-bottom: 20px;
    text-align: center;
}

button {
    display: inline-block;
    margin: 5px; 
    padding: 6px 10px;
    cursor: pointer;
}

.product-grid {
    width: 100%;
    max-width: 1000px; 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 15px;
}

.product-card {
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center;
}

.product-card img {
    width: 100%;
    border-radius: 6px;
}

.prod{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}